<footer class="footer-section section-bg">
    <div class="frame-shape style-2">
        <img src="assets/img/frame-2.png" alt="shape-img">
    </div>
    <div class="frame-shape-3 float-bob-y">
        <img src="assets/img/frame-3.png" alt="shape-img">
    </div>
    <div class="footer-widgets-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <a href="index.html">
                                <img src="assets/img/Logo.png" alt="logo-img">
                            </a>
                        </div>
                        <div class="footer-content">
                            <p>
                                KITA Schwanenäscht bietet familienergänzende Tagesbetreuung
                                für Kinder ab 14 Wochen bis Kindergartenalter in Telli, Aarau.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-footer-widget">
                        <div class="widget-head">
                            <h3>Navigation</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="about.html">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Über Uns
                                </a>
                            </li>
                            <li>
                                <a href="programs.html">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Gruppen
                                </a>
                            </li>
                            <li>
                                <a href="team.html">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Team
                                </a>
                            </li>
                            <li>
                                <a href="pricing.html">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Preise
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Kontakt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 ps-lg-5 wow fadeInUp" data-wow-delay=".5s">
                    <div class="single-footer-widget style-margin">
                        <div class="widget-head">
                            <h3>Öffnungszeiten</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Mo – Fr: 06:45 – 17:45 Uhr
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Sa – So: Geschlossen
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-chevron-right"></i>
                                    Mindestpräsenz: 30%
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                    <div class="single-footer-widget style-margin">
                        <div class="widget-head">
                            <h3>Kontakt</h3>
                        </div>
                        <ul class="list-area">
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Delfterstrasse 14, 5000 Aarau
                                </a>
                            </li>
                            <li>
                                <a href="tel:0625112148">
                                    <i class="fa-solid fa-phone"></i>
                                    062 511 21 48
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@schwanenaescht.ch">
                                    <i class="fa-solid fa-envelope"></i>
                                    info@schwanenaescht.ch
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="f-bottom-shape"></div>
        <div class="container">
            <div class="footer-wrapper d-flex align-items-center justify-content-between">
                <p class="wow fadeInLeft color-2" data-wow-delay=".3s">
                    &copy; 2026 <a href="index.html">KITA Schwanenäscht</a>
                </p>
                <ul class="footer-menu wow fadeInRight" data-wow-delay=".5s">
                    <li>
                        <a href="assets/Documents/datenschutzerklärung.pdf" target="_blank">
                            Datenschutzerklärung
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a href="#" id="scrollUp" class="scroll-icon">
            <i class="far fa-arrow-up"></i>
        </a>
    </div>
</footer>
