<div id="preloader" class="preloader">
    <div class="animation-preloader">
        <div class="spinner">
        </div>
        <div class="txt-loading">
            <span data-text-preloader="K" class="letters-loading">
                K
            </span>
            <span data-text-preloader="I" class="letters-loading">
                I
            </span>
            <span data-text-preloader="T" class="letters-loading">
                T
            </span>
            <span data-text-preloader="A" class="letters-loading">
                A
            </span>
            <br></br>
            <span data-text-preloader="S" class="letters-loading">
                S
            </span>
            <span data-text-preloader="c" class="letters-loading">
                c
            </span>
            <span data-text-preloader="h" class="letters-loading">
                h 
            </span>
            <span data-text-preloader="w" class="letters-loading">
                w
            </span>
            <span data-text-preloader="a" class="letters-loading">
                a
            </span>
            <span data-text-preloader="n" class="letters-loading">
                n 
            </span>
            <span data-text-preloader="e" class="letters-loading">
                e
            </span>
            <span data-text-preloader="n" class="letters-loading">
                n
            </span>
            <span data-text-preloader="ä" class="letters-loading">
                ä
            </span>
            <span data-text-preloader="s" class="letters-loading">
                s
            </span>
            <span data-text-preloader="c" class="letters-loading">
                c
            </span>
            <span data-text-preloader="h" class="letters-loading">
                h
            </span>
            <span data-text-preloader="t" class="letters-loading">
                t
            </span> 
             

        </div>
        <p class="text-center">Loading</p>
    </div>
    <div class="loader">
        <div class="row">
            <div class="col-3 loader-section section-left">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-left">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg"></div>
            </div>
            <div class="col-3 loader-section section-right">
                <div class="bg"></div>
            </div>
        </div>
    </div>
</div>
