.cta-section {
    position: relative;
    background-position: initial;

    .plane-shape {
        position: absolute;
        left: 50px;
        top: 60%;
        animation: rounded 5s linear infinite;
    }

    .pencil-shape {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.cta-wrapper {
    margin-top: 45px;

    @include breakpoint (max-xxl){
        margin-top: 45px;
    }

    @include breakpoint (max-lg){
        text-align: center;
        margin-top: 60px;
    }

    .cta-image {
        text-align: right;
        margin-bottom: -120px;
        position: relative;
        z-index: 9;

        @include breakpoint (max-xl){
            margin-bottom: -100px;
        }

        @include breakpoint (max-lg){
            margin-bottom: -80px;
            text-align: center;
        }

        .cta-shape {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;

            @include breakpoint (max-xxl){
                left: 50%;
                transform: translateX(-50%);
            }

            @include breakpoint (max-xxl){
                left: 35%;
            }

            @include breakpoint (max-lg){
                left: 39%;
            }
        }
    }
}

.main-cta-section {
    position: relative;

    .plane-shape {
        position: absolute;
        top: -50px;
        right: 20px;
    }
}

.main-cta-wrapper {
    position: relative;
    z-index: 9;

    .cta-bg {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $theme-color;
        transition: all 500ms ease;
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1170 485"><path d="M93.3383 50.2529C66.3045 51.6585 41.1387 60.7949 23.6656 75.5536C6.19249 90.3123 -2.15943 109.444 0.478019 128.654L38.7211 404.697C43.6663 440.539 85.4259 468.182 136.197 469.198L941.937 484.972C988.862 485.909 1030.4 463.653 1042.16 431.403L1166.78 89.5314C1174.91 67.1981 1167.44 43.4592 1146.67 25.7331C1125.9 8.00706 1094.36 -1.51972 1062.05 0.198227L93.3383 50.2529Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .newsletter-items {
        max-width: 550px;
        text-align: center;
        margin: 38px auto;
        position: relative;

        @include breakpoint (max-md){
            padding: 0 15px;
        }

        .form-clt {
            input {
                width: 100%;
                background-color: $white;
                border: none;
                outline: none;
                border-radius: 8px;
                padding: 20px 20px;
                color: $text-color;
            }
        }

        .theme-btn {
            position: absolute;
            top: 8px;
            right: 8px;
            bottom: 8px;
            border-radius: 6px;
            padding: 16px 40px;

            @include breakpoint (max-md){
               right: 25px;
            }
        }
    }

    .pencil-shape {
        position: absolute;
        top: 30%;
        left: 5%;
        opacity: .5;
        animation: rounded 5s linear infinite;
    }

    .plane-shape {
        position: absolute;
        top: 50%;
        right: 10%;
        transform: translateY(-50%);
    }

    .cta-shape {
        position: absolute;
        left: 15%;
        bottom: 10%;
    }
}

.instagram-wrapper {
    padding: 0 75px;

    @include breakpoint (max-xxl){
        padding: 0 40px;
    }

    @include breakpoint (max-xl){
        padding: 0 30px;
    }

    h3 {
        margin-bottom: 50px;
        position: relative;
        margin-top: -6px;

        &::before {
            position: absolute;
            top: 15px;
            left: 15%;
            content: "";
            height: 1px;
            width: 480px;
            background-color: $theme-color;

            @include breakpoint (max-xxl){
                display: none;
            }
        }

        &::after {
            position: absolute;
            top: 15px;
            right: 15%;
            content: "";
            height: 1px;
            width: 480px;
            background-color: $theme-color;

            @include breakpoint (max-xxl){
                display: none;
            }
        }
    }

    .instagram-banner-items {
        .banner-image {
            position: relative;
    
            @include breakpoint (max-md){
                height: 450px;
    
                img {
                    object-fit: cover
                }
            }
    
            @include breakpoint (max-sm){
                height: 380px;
            }
    
            img {
                @include imgw;
            }
    
            &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                content: "";
                background: #385469;
                opacity: 0.6;
                transform: scale(1, 0);
                transition: transform 500ms ease;
                transform-origin: bottom center;
                z-index: 1;
            }
    
            .icon {
                position: absolute;
                width: 68px;
                height: 68px;
                line-height: 68px;
                text-align: center;
                border-radius: 50%;
                background-color: $theme-color;
                font-size: 28px;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 99;
                color: $white;
                opacity: 0;
                @include transition;
            }
        }
    
        &:hover {
            .banner-image {
                &::before {
                    transform: scale(1, 1);
                    transform-origin: top center;
                }
                .icon {
                    opacity: 1;
                }
            }
        }
    }
}

.cta-wrapper-2 {
    @include breakpoint (max-xl){
        margin-top: 37px;
    }

    @include breakpoint (max-lg){
        margin-top: 67px;
        text-align: center;
    }

    @include breakpoint (max-sm){
        margin-top: 60px;
    }

    @include breakpoint (max-xxs){
        margin-top: 55px;
    }

    .cta-image-area {
        position: relative;
        margin-bottom: -120px;
        margin-top: -95px;

        @include breakpoint (max-lg){
           margin-top: 0;
        }

        .cta-image {
            max-width: 510px;
            margin-left: 100px;
            position: relative;
            z-index: 9;

            @include breakpoint (max-lg){
                margin-left: 0;
            }

            img {
                @include imgw;
            }
        }

        .bg-shape {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);

            @include breakpoint (max-xl){
                display: none;
            }

            @include breakpoint (max-lg){
                display: block;
            }

            @include breakpoint (max-md){
                display: none;
            }
        }
    }
}

.cta-section-2 {
    position: relative;

    .parasuit-shape {
        position: absolute;
        top: 20%;
        left: 5%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .parasuit-shape-2 {
        position: absolute;
        top: 20%;
        right: 5%;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .pencil-shape {
        position: absolute;
        bottom: 15%;
        left: 7%;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .hand-shape {
        position: absolute;
        left: 40%;
        bottom: 35%;

        @include breakpoint (max-xxl){
            display: none;
        }
    }

    .line-shape {
        position: absolute;
        right: 5%;
        bottom: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.cta-video-section {
    background-position: initial !important;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;

    @include breakpoint (max-lg){
        margin-top: -10px;
    }

    .video-shape {
        height: 120px; 
        width: 100%;
        position: absolute;
        top: -35px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        z-index: -1;
    }
      
    .wave {
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        background-size: cover;
    }
    
    .wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
    }
    
    .wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
    }  
}

.cta-video-items {
    padding: 350px 0;
    position: relative;
    z-index: 9;

    @include breakpoint (max-xl){
        padding: 300px 0;
    }

    @include breakpoint (max-lg){
        padding: 250px 0;
    }

    @include breakpoint (max-md){
        padding: 200px 0;
    }

    @include breakpoint (max-sm){
       padding: 150px 0;
    }

    .video-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        .video-btn {
            width: 100px;
            height: 100px;
            line-height: 100px;
            font-size: 22px;
            background-color: $theme-color;
            color: $white;
            display: inline-block;
            text-align: center;
            border-radius: 50%;

            @include breakpoint (max-md){
                width: 70px;
                height: 70px;
                line-height: 70px;
            }

            @include breakpoint (max-sm){
                width: 60px;
                height: 60px;
                line-height: 60px;
            }
        }

        .ripple {
            &::before,&::after {
                box-shadow: 0 0 0 0 rgba(243, 159, 95, 0.8);
                width: 100px;
                height: 100px;

                @include breakpoint (max-md){
                    width: 70px;
                    height: 70px;
                }
    
                @include breakpoint (max-sm){
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

}

.cta-offer-section {
    margin-top: 110px;
    position: relative;
    z-index: 9;

    .cta-shape {
        height: 120px; 
        width: 100%;
        position: absolute;
        top: -115px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        z-index: -1;
    }
      
    .wave {
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        background-size: cover;
    }
    
    .wave:nth-of-type(2) {
        bottom: 0;
        animation: wave 18s linear reverse infinite;
    }
    
    .wave:nth-of-type(3) {
        bottom: 0;
        animation: wave 20s -1s linear infinite;
    }  
}

.cta-offer-wrapper {
    text-align: center;
    margin-top: -80px;

    .cta-offter-image {
        margin-bottom: -120px;

        @include breakpoint (max-xxl){
            margin-bottom: -145px;
        }

        @include breakpoint (max-xl){
            display: none;
        }

        img {
            @include imgw;
        }
    }

    .cta-offter-image-2 {
        margin-bottom: -170px;

        @include breakpoint (max-xxl){
           margin-bottom: -126px;
        }

        @include breakpoint (max-xl){
            display: none;
        }
    }
}

.newsletter-wrapper-5 {
    position: relative;
    z-index: 9;
    padding: 120px 50px;
    margin-bottom: 50px;
    margin-top: 38px;

    @include breakpoint (max-xxl){
        padding-top: 60px;
    }

    @include breakpoint (max-xl){
        margin-top: 0;
        margin-bottom: 0;
        padding: 60px 40px;
    }

    @include breakpoint (max-md){
        padding: 50px 30px;
    }

    .border-shape {
        position: absolute;
        top: 20px;
        left: 50px;
        right: 0;
        max-width: 1360px;
        z-index: -1;

        @include breakpoint (max-xl){
           display: none;
        }

        img {
            width: 100%;
        }
    }

    .vec-1 {
        position: absolute;
        right: 0;
        top: -30px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
        
    }

     .vec-2 {
        position: absolute;
        left: -20px;
        bottom: -15px;
        animation: rounded 5s linear infinite;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .vec-3 {
        position: absolute;
        left: 35px;
        bottom: 60px;

        @include breakpoint (max-xl){
            opacity: .3;
        }
    }

    .newsletter-bg {
        mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1410 425"><path fill-rule="evenodd" clip-rule="evenodd" d="M47.8559 86.0209C54.8213 36.6825 97.0464 0 146.874 0H1263.13C1312.95 0 1355.18 36.6826 1362.14 86.021L1393.91 311.021C1402.41 371.213 1355.68 425 1294.89 425H115.109C54.3206 425 7.5935 371.213 16.0912 311.021L47.8559 86.0209Z" /></svg>');
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: cover;
        position: absolute;
        top: 0;
        left: 0;

        @include breakpoint (max-xl){
            mask: none;
            border-radius: 16px;
            bottom: 0;
            overflow: hidden;
        }

        &::before {
            @include before;
            background: #385469;
            opacity: 0.8;

            @include breakpoint (max-xl){
                border-radius: 16px;
            }
        }
        
        img {
            @include imgw;
        }
    }

    .content {
        text-align: center;
        position: relative;
        z-index: 99;

        .newsletter-items {
            margin-top: 50px;
            position: relative;
            max-width: 760px;
            margin: 50px auto 0;

            .icon {
                position: absolute;
                left: 22px;
                top: 20px;

                @include breakpoint (max-sm){
                    top: 16px;
                }
            }

            .subscribe-btn {
                display: inline-block;
                background-color: $theme-color;
                color: $white;
                border-radius: 100px;
                padding: 23px 40px;
                position: absolute;
                bottom: 0;
                top: 0;
                right: 0;
                line-height: 1;
                @include transition; 

                @include breakpoint (max-md){
                    position: static;
                    width: 100%;
                    height: 60px;
                    line-height: 60px;
                    padding: 0 18px;
                    margin-top: 10px;
                }

                &:hover {
                    background-color: $header-color;
                }
            }

            input {
                border: none;
                width: 100%;
                background-color: $white;
                height: 68px;
                line-height: 68px;
                border-radius: 100px;
                padding-left: 56px;
                color: $text-color;
                padding-right: 210px;

                @include breakpoint (max-xl){
                    height: 60px;
                    line-height: 60px;
                }

                @include breakpoint (max-md){
                    padding-right: 30px;
                }
            }
        }
    }

    &.style-2 {
        padding: 100px 50px;
        position: relative;

        .plane-1 {
            position: absolute;
            top: 70px;
            left: 120px;
            z-index: 1;
        }

        .flower-shape {
            position: absolute;
            bottom: 60px;
            left: 90px;
            z-index: 9;
        }

        .newsletter-bg {
            background-color: #E6E8FC;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            &::before {
                display: none;
            }
        }
    }

    &.bg-new-add {

        .newsletter-bg {
            background-color: #385469;
        }
    }
}

.newsletter-section-5 {
    position: relative;

    .zirap-shape {
        position: absolute;
    }

    .line-shape {
        position: absolute;
        left: 0;
        top: -30%;
    }

    .line-shape2 {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.special-offer-wrapper-5 {
    position: relative;
    .border-shape {
        @include breakpoint (max-lg){
            display: none
        }
        img {
            @include imgw;
        }
    }

    .special-offer-image {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        margin-left: 20px;
        width: calc(100% - 40px);

         @include breakpoint (max-lg){
            position: static;
            transform: initial;
            margin-left: 0;
            width: initial;
        }

        .thumb {
            position: relative;
            max-width: 1410px;
            mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1410 490"><path fill-rule="evenodd" clip-rule="evenodd"  d="M0 98.0954C0 66.3286 24.7602 40.067 56.472 38.1991L705 0L1353.53 38.1992C1385.24 40.067 1410 66.3285 1410 98.0953V399.54C1410 431.579 1384.83 457.966 1352.82 459.474L705 490L57.1758 459.474C25.1722 457.966 0 431.579 0 399.54V98.0954Z" /></svg>');
            mask-repeat: no-repeat;
            mask-position: center center;
            mask-size: cover;

             @include breakpoint (max-lg){
                mask: none;
                height: 500px;
                 border-radius: 16px;

                img {
                    object-fit: cover;
                    border-radius: 16px;
                }
            }

            &::before {
                @include before;
                background: #385469;
                opacity: 0.7;
                z-index: 1;
            }
    
            img {
                @include imgw;
            }
        }

        .content {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            z-index: 99;

            @include breakpoint (max-md){
               margin: 0 15px;
            }

            .theme-btn {
                margin-top: 35px;

                .theme-text {
                    color: $white;
                }

                &:hover {
                    .theme-text {
                        img {
                             filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
}

.special-offer-section-5 {
    position: relative;

    .tree-shape {
        position: absolute;
        left: 53px;
        top: 0;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }

    .doll-shape {
        position: absolute;
        bottom: -12%;
        right: 12%;

        @include breakpoint (max-xxl){
            opacity: .3;
        }
    }
}

.cta-wrapper-8 {

    .cta-content {

        .theme-btn {
            background: $white;
            color: $header-color;

            &::before,&::after {
                background-color: $theme-color-3;
            }

            &:hover {
                color: $white;
            }

            @include breakpoint (max-xl) {
                margin-top: 30px;
            }
        }
    }

    .cta-image {

        img {
            @include imgw;
        }
    }
}

.cta-section-8 {
    position: relative;
    margin-top: 120px;

    .left-shape {
        position: absolute;
        bottom: 0;
        left: 20px;

        img {
            @include imgw;
        }

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .middle-shape {
        position: absolute;
        bottom: 15%;
        left: 37%;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .right-shape {
        position: absolute;
        top: 200px;
        right: 120px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .right-shape2 {
        position: absolute;
        bottom: 110px;
        right: 100px;

        @include breakpoint (max-xxl) {
            display: none;
        }
    }

    .cta-top-shape {
        height: 160px; 
        width: 100%;
        position: absolute;
        top: -120px;
        left: 0;
        right: 0;
        overflow-x: hidden;
        //z-index: -1;
    }
      
    .wave {
        position: absolute;
        width: 200%;
        height: 100%;
        animation: wave 10s -3s linear infinite;
        transform: translate3d(0, 0, 0);
        background-size: cover;
    }
    
    .wave:nth-of-type(2) {
        bottom: 0;
        animation: wave 18s linear reverse infinite;
    }
    
    .wave:nth-of-type(3) {
        bottom: 0;
        animation: wave 20s -1s linear infinite;
    } 
}